<a href="{{ admin.generateObjectUrl('moveUp', object) }}" class="btn btn-sm btn-default"><i class="glyphicon  glyphicon-arrow-up"></i></a>
<a href="{{ admin.generateObjectUrl('moveDown', object) }}" class="btn btn-sm btn-default"><i class="glyphicon  glyphicon-arrow-down"></i></a>
