<phpunit
        bootstrap="vendor/autoload.php"
        convertWarningsToExceptions="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        backupGlobals="false"
>
    <php>
        <const name="APPLICATION_ENV" value="testing"/>
    </php>
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">src/Zicht/Bundle/AdminBundle/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>

