
@font-face {
    font-family: poppins;
    font-style: normal;
    font-weight: 400;
    src:
        local("Poppins"),
        local("Poppins-Regular"),
        url("/bundles/zichtadmin/fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"),
        url("/bundles/zichtadmin/fonts/poppins/poppins-v5-latin-regular.woff") format("woff");
}

.z-cms-admin {
  display: flex;
  width:230px;
  min-height:50px;
  float:left;
  background-color: #222d32;
  justify-content: center;
}


.z-cms-admin a {
    display: flex;
    align-items: center;
}

.z-cms-admin span.cms-title {
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 12px;
    color: #77848a;
    text-transform: uppercase;
}
