#zicht_admin_menu_wrapper {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: fixed;
    left: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    z-index: 9999;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
}

#zicht_admin_menu_wrapper.enabled {
    background-color: white;
}

#zicht_admin_menu_wrapper img.logo {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 1px;
    cursor: pointer;
}

#zicht_admin_menu_veil {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;

    background-color: black;
    opacity: 0;

    display: none
}

#zicht_admin_menu {
    position: fixed;
    top: 40px;
    left: 5px;
    overflow: visible;

    background-color: white;

    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    -ms-border-radius: 0 4px 4px 4px;

    -moz-box-shadow: 4px 4px 8px #000;
    -webkit-box-shadow: 4px 4px 8px #000;
    box-shadow: 4px 4px 8px #000;
}

#zicht_admin_menu ul,
#zicht_admin_menu ul li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding:0;
}

#zicht_admin_menu a {
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #eee;
    padding: 14px;
    font-size: 14px;
    color: black;
}

#zicht_admin_menu a,
#zicht_admin_menu a:hover {
    text-decoration: none;
}
#zicht_admin_menu a:hover {
    background-color: #eee;
}

#zicht_admin_menu li:first-child a {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    -ms-border-radius: 0 4px 0 0;
}
#zicht_admin_menu li:last-child a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
}

#zicht_admin_menu li:last-child a {
    border-bottom: 0;
}
