@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
  font-family: "Fabrique Web";
  font-style: normal;
  font-weight: 700;
  src:
    url("/bundles/zichtadmin/fonts/fab/fab.woff2") format("woff2"),
    url("/bundles/zichtadmin/fonts/fab/fab.woff") format("woff");
}

@font-face {
  font-family: "Graphik Regular";
  font-style: normal;
  font-weight: 400;
  src:
      url("/bundles/zichtadmin/fonts/gk/gkr.woff2") format("woff2"),
      url("/bundles/zichtadmin/fonts/gk/gkr.woff") format("woff");
}

body {
  margin: 0;
}
main.z-cms {
  padding: 0 32px;
}
@media all and (max-width: 600px) {
  main.z-cms {
    padding:0 12px
  }
}

.z-cms .header {
  color: #1E1E1E;
  margin-bottom: 20px;
}

.z-cms h1 {
  color: #1E1E1E;
  font-family: "Fabrique Web", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.5rem;
  margin-bottom: 16px;
}
.z-cms h2 {
  color: #1E1E1E;
  font-family: "Graphik Regular", Helvetica, sans-serif;
  font-size: 1.625rem;
  line-height: 2.375rem;
  margin-bottom: 20px;
}

.z-cms .login-page {
  padding: 3% 0 0;
  max-width: 1600px;
  margin: 0 auto;
}

.z-cms section {
  margin: 0 0 1.25rem 30px;
  width: calc(50% - 45px);
}
@media all and (max-width: 600px) {
  .z-cms section {
    margin-left: 20px;
    width: calc(75% - 35px);
  }
}

.z-cms .form label {
  color: #1E1E1E;
  margin-bottom: 0.3125rem;
  font-family: "Graphik Regular", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.z-cms .form input[type='checkbox'] {
  opacity: 0;
  width: 0;
  margin: 0;
}

label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#rememberme label {
  position: relative;
  display: inline-block;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
}

#rememberme label::before,
#rememberme label::after {
  position: absolute;
  content: "";

  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
#rememberme label::before{
  height: 16px;
  width: 16px;

  border: 1px solid;
  left: 0;

  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
   *to vertically center it.
   */
  top: 3px;
}

/*Checkmark of the fake checkbox*/
#rememberme label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  top: 7px;
}

/*Hide the checkmark by default*/
#rememberme input[type="checkbox"] + label::after {
  content: none;
}

/*Unhide on the checked state*/
#rememberme input[type="checkbox"]:checked + label::after {
  content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
#rememberme input[type="checkbox"]:focus + label::before {
  outline: rgb(32, 23, 71) auto 5px;
}

.z-cms .form input:not([type='checkbox']) {
  border: 1px solid #1E1E1E;
  background-color: #FFFFFF;
  outline: 0;
  width: 100%;
  margin: 0 0 1.25rem;
  padding: 12px 15px;
  color: #1E1E1E;
  box-sizing: border-box;
  font-family: "Graphik Regular", Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.z-cms .form input:not([type='checkbox']):last-child {
  margin-bottom: 30px !important;
}

/* Chrome autofill color */
.z-cms .form input:-webkit-autofill{
  background-color: transparent!important;
}

.z-cms button {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Graphik Regular", Helvetica, sans-serif;
  outline: 0;
  background-color: #1E1E1E;
  min-width: 230px;
  border: none;
  padding: 15px;
  color: #F5EA04;
  font-size: 16px;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}
.z-cms button:hover, .z-cms button:active, .z-cms button:focus {
    background-color: #666;;
}
.z-cms .button__label ~ .button__icon {
    margin-left: 8px;
}
.z-cms .button__icon {
    width: 15px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.z-cms .button__icon svg {
    transition: transform 500ms ease-in-out
}
.z-cms .button__icon svg path {
    stroke: #F5EA04;
}
.z-cms button:hover .button__icon svg {
    transform: translateX(4px);
}

.z-cms .has-hover-propagation:hover .v-hover--right {
  transform: translate(-20%);
  filter: brightness(120%);
}

.z-cms .has-hover-propagation:hover .v-hover--color {
  filter: brightness(120%);
}

.z-cms .u-trans--transform {
  transition: transform .25s ease-in-out;
}

.z-cms form {
  margin-bottom: 0;
}

.z-cms p.message {
  margin: 25px 0 5px 0;
}

.z-cms .form .error {
  margin: 0 0 20px 0;
  font-family: "Graphik Regular", Helvetica, sans-serif;
  color: #FF4016;
}

.z-cms .message a {
  color: #1E1E1E;
  filter: brightness(100%);
  font-family: "Graphik Regular", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
}

body.z-cms {
  font-family: "Graphik Regular", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
