{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/zichtadmin/style/admin-cms.css') }}">
{% endblock %}

{% block logo %}
    {% apply spaceless %}
        <div class="z-cms-admin">
            <a href="{{ path('sonata_admin_dashboard') }}">
                <img src="{{ asset('bundles/zichtadmin/images/fabrique.png') }}" width="32" height="32" />
                <span class="cms-title">Fabrique CMS</span>
            </a>
        </div>
    {% endapply %}
{% endblock %}
